@font-face {
  font-family: 'kuxicon';
  src: url('//at.alicdn.com/t/font_1442816980_3990257.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1442816980_3990257.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1442816980_3990257.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1442816980_3990257.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1442816980_3990257.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.kuma-upload-icon {
  font-family: "kuxicon" !important;
  font-size: 16px;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.icon-retry:before {
  content: "\e606";
}
.icon-success:before {
  content: "\e605";
}
.icon-start:before {
  content: "\e602";
}
.icon-remove:before {
  content: "\e604";
}
.icon-error:before {
  content: "\e603";
}
.icon-add:before {
  content: "\e60a";
}
.icon-upload:before {
  content: "\e600";
}
.kuma-upload-fileicon {
  font-family: "kuxicon" !important;
  font-size: 18px;
  font-style: normal;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.kuma-upload-fileicon:before {
  content: "\e700";
  color: #666;
}
.kuma-upload-fileicon:after {
  display: inline-block;
  content: attr(data-ext);
  position: absolute;
  bottom: 3px;
  left: 3px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: normal;
  white-space: nowrap;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  color: white;
  padding: 0 4px;
  background: #666;
  border-radius: 6px;
}
[data-type^=video]:before {
  content: "\e704";
}
[data-type^=video]:after {
  display: none;
}
[data-type^=audio]:before {
  content: "\e703";
}
[data-type^=audio]:after {
  display: none;
}
[data-type^=text]:before {
  content: "\e702";
}
[data-type^=text]:after {
  display: none;
}
[data-type^=image]:before {
  content: "\e701";
}
[data-type^=image]:after {
  display: none;
}
[data-ext^=doc]:before {
  content: "\e705";
}
[data-ext^=doc]:after {
  display: none;
}
[data-ext^=xls]:before {
  content: "\e706";
}
[data-ext^=xls]:after {
  display: none;
}
[data-ext^=ppt]:before {
  content: "\e707";
}
[data-ext^=ppt]:after {
  display: none;
}
[data-ext=pdf]:before {
  content: "\e708";
}
[data-ext=pdf]:after {
  display: none;
}
[data-ext=zip]:before,
[data-ext=rar]:before {
  content: "\e709";
}
[data-ext=zip]:after,
[data-ext=rar]:after {
  display: none;
}
[data-ext=js]:before,
[data-ext=css]:before,
[data-ext=java]:before,
[data-ext=php]:before,
[data-ext=html]:before,
[data-ext=xml]:before,
[data-ext=json]:before {
  content: "\e70c";
}
[data-ext=js]:after,
[data-ext=css]:after,
[data-ext=java]:after,
[data-ext=php]:after,
[data-ext=html]:after,
[data-ext=xml]:after,
[data-ext=json]:after {
  display: none;
}
.kuma-upload-progresspin {
  height: 20px;
  width: 20px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  vertical-align: middle;
}
.kuma-upload-progresspin .spin {
  position: absolute;
  border-radius: 0 10px 10px 0;
  height: 20px;
  width: 10px;
  overflow: hidden;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  top: 0;
  right: 0;
}
.kuma-upload-progresspin .spin.spin2-2 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.kuma-upload-progresspin .spin > .inner {
  position: absolute;
  width: 150%;
  height: 100%;
  top: 0;
  left: -150%;
  background: #42a1eb;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}
.kuma-upload-progresspin.escape .spin > .inner {
  left: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.kuma-upload-progressbar {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background: #42a1eb;
  width: 0;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
@-webkit-keyframes kuxglow {
  0% {
    background: rgba(225, 229, 232, 0.2);
  }
  50% {
    background: rgba(252, 110, 81, 0.2);
  }
  100% {
    background: rgba(225, 229, 232, 0.2);
  }
}
.kuma-uploader {
  min-width: 200px;
}
.kuma-upload-filelist {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.kuma-upload-filelist > .inner {
  overflow: hidden;
}
.kuma-upload-picker {
  display: inline-block;
  position: relative;
  line-height: normal;
}
.kuma-upload-picker .kuma-upload-button {
  display: inline-block;
  background: white;
  outline: none;
  border: 1px solid #eee;
  padding: 5px 10px;
  border-radius: 15px;
  -webkit-transition: border-color 0.1s, color 0.1s;
  transition: border-color 0.1s, color 0.1s;
}
.kuma-upload-picker .kuma-upload-button > * {
  vertical-align: middle;
}
.kuma-upload-picker:hover .kuma-upload-button,
.kuma-upload-picker.over .kuma-upload-button {
  border-color: #57c5f7;
  color: #57c5f7;
}
.kuma-upload-droparea {
  min-height: 200px;
  min-width: 200px;
  position: relative;
  border-radius: 5px;
}
.kuma-upload-droparea .kuma-upload-responser {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px dashed #D9D9D9;
  z-index: -1;
  border-radius: 5px;
}
.kuma-upload-droparea.blink .kuma-upload-responser {
  border: 3px dashed #fc6e51;
  background: #e1e5e8;
  -webkit-animation: kuxglow .7s infinite;
  animation: kuxglow .7s infinite;
}
.kuma-upload-droparea.enter .kuma-upload-responser {
  display: block;
  border: 3px solid #fc6e51;
  background: none;
  -webkit-animation: none;
  animation: none;
}
.kuma-upload-droparea .kuma-upload-picker {
  display: block;
  text-align: center;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.kuma-upload-droparea .kuma-upload-picker .icon-add {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  font-size: 80px;
  color: #D9D9D9;
}
.kuma-upload-droparea .kuma-upload-picker:hover,
.kuma-upload-droparea .kuma-upload-picker.over {
  opacity: 1;
}
.kuma-upload-droparea > .kuma-upload-picker {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.kuma-upload-droparea .kuma-upload-filelist .kuma-upload-picker {
  float: left;
  margin: 5px;
  width: 80px;
  height: 80px;
  background: #ebeff2;
}
.kuma-upload-droparea .kuma-upload-filelist .kuma-upload-picker .icon-add {
  margin-top: -20px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.kuma-upload-droparea .kuma-upload-filelist {
  height: 100%;
}
.kuma-upload-fileitem {
  position: relative;
  overflow: hidden;
  font-family: monospace;
  line-height: normal;
  display: block;
  float: left;
}
.kuma-upload-fileitem .filename {
  color: #707070;
  font-size: 14px;
}
.kuma-upload-fileitem .kuma-upload-status,
.kuma-upload-fileitem .kuma-upload-action {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  color: #ccc;
  vertical-align: middle;
}
.kuma-upload-fileitem .kuma-upload-status .kuma-upload-icon,
.kuma-upload-fileitem .kuma-upload-action .kuma-upload-icon {
  font-size: 18px;
}
.kuma-upload-fileitem .kuma-upload-status.status-success {
  color: #8ad256;
}
.kuma-upload-fileitem .kuma-upload-status.status-error {
  color: #fcac79;
}
.kuma-upload-fileitem .kuma-upload-status.status-error:hover {
  color: #fc482d;
}
.kuma-upload-fileitem .kuma-upload-action.action-remove {
  cursor: pointer;
}
.kuma-upload-fileitem .kuma-upload-action.action-remove:hover {
  color: #fc6e51;
}
.kuma-upload-fileitem .kuma-upload-action.action-retry {
  cursor: pointer;
  color: #444;
}
.kuma-upload-fileitem .kuma-upload-action.action-retry:hover {
  color: #42a1eb;
}
.kuma-upload-fileitem .kuma-upload-action.action-upload {
  cursor: pointer;
  color: #444;
}
.kuma-upload-fileitem .kuma-upload-action.action-upload:hover {
  color: #42a1eb;
}
.kuma-upload-filelist.minimode .kuma-upload-fileitem {
  border: 1px solid #ededed;
  padding: 5px 6px;
  border-radius: 25px;
}
.kuma-upload-filelist.minimode .kuma-upload-fileitem .field-info .kuma-upload-fileicon {
  margin: 0 5px;
}
.kuma-upload-filelist.minimode .kuma-upload-fileitem .field-info .filename {
  vertical-align: middle;
  white-space: nowrap;
}
.kuma-upload-filelist.minimode .kuma-upload-fileitem .field-info .filesize {
  color: #adadad;
  font-size: 14px;
  vertical-align: middle;
  margin: 0 2px;
}
.kuma-upload-filelist.minimode .kuma-upload-fileitem .field-status .kuma-upload-status,
.kuma-upload-filelist.minimode .kuma-upload-fileitem .field-status .kuma-upload-action {
  margin: 0 1px;
}
.kuma-upload-filelist.minimode .kuma-upload-fileitem .kuma-upload-progressbar {
  opacity: 0.3;
  z-index: -1;
}
.kuma-upload-filelist.minimode .kuma-upload-fileitem.status-error .kuma-upload-progressbar {
  display: none;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem {
  margin: 5px;
  width: 80px;
  height: 112px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .action-remove {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .status-error,
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .status-success {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview {
  position: relative;
  height: 80px;
  width: 80px;
  background: #ebeff2;
  text-align: center;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .previewer {
  height: 80px;
  width: 80px;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .previewer img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .previewer:before {
  display: inline-block;
  content: '';
  height: 100%;
  width: 0;
  overflow: hidden;
  vertical-align: middle;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .previewer .kuma-upload-fileicon {
  font-size: 60px;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .kuma-upload-action {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  margin-top: -15px;
  opacity: 0.6;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .kuma-upload-action .kuma-upload-icon {
  line-height: 30px;
  font-size: 28px;
  color: #42a1eb;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .kuma-upload-action:hover {
  opacity: 1;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .kuma-upload-progressbar,
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .kuma-upload-progresspin {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .kuma-upload-progresspin {
  margin-left: -10px;
  margin-top: -10px;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filepreview .kuma-upload-progressbar {
  left: 0;
  height: 20px;
  bottom: auto;
  margin-top: -10px;
}
.kuma-upload-filelist.iconmode .kuma-upload-fileitem .filename {
  margin-top: 2px;
  font-size: 12px;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.2em;
  height: 2.4em;
  overflow: hidden;
  padding: 0 1px;
}
.sample {
  margin: 10px 0;
  font-size: 14px;
}
.mydroparea .icon-upload {
  font-size: 60px;
  color: #57c5f7;
  display: block;
  margin-top: 35px;
}
