.filelist {
    overflow: hidden;
    .fileitem {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #ededed;
        position: relative;
        .field {
            vertical-align: middle;
            display: inline-block;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .field-name {
            width: 240px;
            .exticon {
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px;
            }
            .name {
                vertical-align: middle;
                color: #707070;
                font-size: 14px;
                overflow: hidden;
                display: inline-block;
                max-width: 170px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .field-size {
            width: 80px;
            color: #adadad;
            overflow: hidden;
        }
        .field-actions {
            width: 180px;
            text-align: right;
            padding-right: 15px;
            .action {
                font-size: 20px;
                cursor: pointer;
            }
        }

        .progressbar {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            background: #42a1eb;
            width: 0;
            -webkit-transition: width .2s ease-out, opacity .5s ease-out .2s;
            -moz-transition: width .2s ease-out, opacity .5s ease-out .2s;
            transition: width .2s ease-out, opacity .5s ease-out .2s;
        }

        .action {
            &.action-remove {
                &:hover {
                    color: #fc6e51;
                }
                &:before {
                    content: "\e602";
                }
                &.status-success {
                    color: #8ad256;
                    &:before {
                        content: "\e600";
                    }
                    &:hover {
                        color: #fc6e51;
                    }
                    &:hover:before {
                        content: "\e602";
                    }
                }
                &.status-error {
                    color: #fc6e51;
                    &:before {
                        content: "\e604";
                    }
                    &:hover:before {
                        content: "\e602";
                    }
                }
            }

            &.action-retry {
                &:hover {
                    color: #42a1eb;
                }
                &:before {
                    content: "\e606";
                }
            }
            &.action-upload {
                &:hover {
                    color: #42a1eb;
                }
                &:before {
                    content: "\e60a";
                }
            }
        }
        &.complete {
            .progressbar {
                opacity: 0;
            }
        }
        &.error {
            .progressbar {
                display: none;
            }
        }
    }
}