@import "./css/normalize";
@import "./css/tpl";
@import "../src/index";
@import "../node_modules/kuma-base/theme/orange.less";
@import "../node_modules/uxcore-icon/src/Icon.less";

.sample {
    margin: 10px 0;
    font-size: 14px;
}

#sample4, #sample4-0{
  width: 400px;
}

.mydroparea .kuma-icon-uploading {
    font-size: 60px;
    color:#57c5f7;
    display: block;
    margin-top: 35px;
}
.custom-button-group {
    .kuma-uploader {
        margin-bottom: 20px;
    }
}
